@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  @apply bg-slate-950;
}

.link {
  @apply text-sky-300 underline;
}

.link:hover {
  @apply text-sky-500;
}

.btn-primary {
  @apply bg-sky-300 p-2 text-slate-900 rounded-sm flex items-center justify-center;
}

.btn-primary:hover {
  @apply bg-sky-400;
}

.btn-outline {
  @apply border border-white text-white bg-transparent p-2 rounded-sm flex items-center justify-center;
}

.btn-outline:hover {
  @apply bg-sky-400 text-slate-900 border-transparent;
}

.btn-secondary {
  @apply rounded-sm text-slate-900 p-2 bg-slate-200 border-2 flex items-center justify-center;
}

.btn-secondary:hover {
  @apply bg-slate-300;
}

thead {
  @apply bg-slate-800 text-sky-300 text-left;
}

th {
  @apply p-1 md:p-3 border-2 text-slate-200 border-slate-800 font-extrabold;
}

td {
  @apply p-1 md:p-3 border-2 text-slate-200 border-slate-800;
}